<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Under construction</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Site under construction</p>
  </body>
</html>
