body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #d3d3d3;
  background-image: url('/static/img/noisy_bg.png');
  color: #333333;
  overflow: hidden;
}
h1 {
  position: relative;
  font-size: 2em;
  color: #333333;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
h1::after {
  position: absolute;
  content: 'Developer';
  font-size: 0.3em;
  font-weight: normal;
  font-style: italic;
  opacity: 0.4;
  right:  0;
  bottom: -15px;
}
a {
  color: #00B7FF;
}
p {
  font-family: 'Raleway', sans-serif;
}
div.social-wrap {
  font-size: 1.2em;
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}
.social-wrap i {
  opacity: 0.6;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
  color: #222222;
}
.davemedinatv svg {
  margin-top: 10px;
  padding: 0 0.1em;
  width: 1.1em;
  fill: #222222;
  filter: drop-shadow( 0 2px 1px rgba(0, 0, 0, 0.5) );
  transition: all 0.4s;
}
.davemedinatv svg:hover {
  fill: #FFFFFF;
}
.social-wrap i:hover {
  opacity: 1;
}
.fa-facebook:hover {
  color: #2c3f69;
}
.fa-instagram:hover {
  color: #5a1f80;
}
.fa-soundcloud:hover {
  color: #c2711b;
}
.fa-github:hover {
  color: #292727;
}
.fa-linkedin:hover {
  color: #3d78af
}
/*  This could be styled somehow (maybe tooltip-like)  */
i span {
  display: none;
}
div.general {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 200px rgba(0,0,0,0.4) inset;
}
div.item {
  padding: 0.05em 0.2em;
  /*background: #272f2f;*/
}
div.swipping {
  position: relative;
  z-index: -5000;
  background: rgba(255,255,255, 0.1);
  /*transform: ;*/
  transform: translateZ(0) skewX(-45deg) ;
  transition: linear all .4s;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  body {
    font-size: 23px;
  }
  div.social-wrap {padding: 0 0;}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  body {
    font-size: 25px;
  }
}

/* Small Devices, Tablets 30*/
@media only screen and (min-width : 768px) {
  body {
    font-size: 28px;
  }
  div.social-wrap {padding: 0 0;}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  body {
    font-size: 32px;
  }
  div.social-wrap {padding: 0 5px;}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  body {
    font-size: 37px;
  }
}
