body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #35393C;
  color: #5DA399;
  overflow: hidden;
}
h1 {
  font-size: 2em;
  color: #FFFFFF;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
a {
  color: #00B7FF;
}
p {
  font-family: 'Raleway', sans-serif;
}
div.social-wrap {
  font-size: 1.2em;
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px;
  justify-content: space-between;
}
.social-wrap i {
  opacity: 0.3;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}
.social-wrap i:hover {
  opacity: 1;
}
.fa-facebook {
  color: #4267b2;
}
.fa-instagram {
  color: #985fb9;
}
.fa-soundcloud {
  color: #f18f29;
}
/*  This could be styled somehow (maybe tooltip-like)  */
i span {
  display: none;
}
div.general {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 200px rgba(0,0,0,0.4) inset;
}
div.item {
  padding: 5px 20px;
  /*background: #272f2f;*/
}
div.swipping {
  position: relative;
  z-index: -5000;
  background: rgba(255,255,255, 0.1);
  transform: skewX(-45deg);
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  body {
    font-size: 20px;
  }
  div.social-wrap {padding: 0 8px;}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  body {
    font-size: 23px;
  }
}

/* Small Devices, Tablets 30*/
@media only screen and (min-width : 768px) {
  body {
    font-size: 26px;
  }
  div.social-wrap {padding: 0 15px;}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  body {
    font-size: 30px;
  }
  div.social-wrap {padding: 0 30px;}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  body {
    font-size: 30px;
  }
}
